In [3]:
import pandas as pd
import seaborn as sns
import glob
import pickle

In [5]:
#Load Data Frame
data_path = "./Pickles/articles.pickle"
with open(data_path, 'rb') as data:
    articles = pickle.load(data)

In [6]:
articles

,article,category,Category_Code
0,SINGAPORE - A man's body was found on the grou...,Singapore,3
1,London (AFP) - Thai Formula One driver Alexand...,Sport,4
2,SINGAPORE - The Straits Times bagged eight awa...,Singapore,3
3,Ready for a challenge? Try out daily Sudoku an...,Lifestyle,0
4,HONG KONG (BLOOMBERG) – Hong Kong airport auth...,World,2
5,HONG KONG - A meal at Dragon Centre mall has b...,World,2
6,SINGAPORE - Six flights from Singapore to Hong...,Singapore,3
7,"HONG KONG (AGENCE FRANCE-PRESSE, REUTERS) - Ch...",World,2
8,MERSING - Malaysian authorities on Monday (Aug...,Singapore,3
9,Can't Be Tamed singer Miley Cyrus will not be ...,Lifestyle,0
10,"Rain has returned to much of Asia, including t...",World,2
11,HONG KONG - A meal at Dragon Centre mall has b...,World,2
12,SINGAPORE - The deadline for personal mobility...,Singapore,3
13,In today’s bulletin: UN report warns of the im...,World,2
14,The owner of a $14 million Sentosa Cove waterf...,Singapore,3
15,SINGAPORE - Global upheavals have produced gra...,Singapore,3
16,AMSTERDAM (DPA) - Dutch authorities are lookin...,World,2
17,REVIEW/CONCERT\n\nWESTLIFE THE TWENTY TOUR\n\n...,Lifestyle,0
18,TOKYO (THE YOMIURI SHIMBUN/ASIA NEWS NETWORK) ...,World,2
22,"Thailand's Future Forward Party, a progressive...",World,2
23,SINGAPORE - Singapore's oldest practising lawy...,Singapore,3
24,"It was World Elephant Day yesterday, and Singa...",Singapore,3
25,SINGAPORE - Singapore shares opened sharply lo...,Business,1
26,TOKYO (REUTERS) - Asian shares slumped on Tues...,Business,1
27,Singapore's racial and religious diversity can...,Singapore,3
28,We have been experiencing some problems with s...,Singapore,3
29,Robots are often spotted in factories and ware...,Business,1
30,LONDON (REUTERS) - A majority of Britons belie...,World,2
31,BEIJING • A monster storm that smashed its way...,World,2
32,SINGAPORE - A Scoot flight from Singapore to H...,Singapore,3
...,...,...,...
6012,MEXICO CITY: Residents of Mexico City who are ...,World,2
6013,REUTERS: U.S. Senate Finance Committee Chairma...,World,2
6014,ON BOARD THE OCEAN VIKING - French charities S...,World,2
6015,LONDON: A majority of Britons believe Prime Mi...,World,2
6016,WASHINGTON: Democratic presidential hopeful Tu...,World,2
6017,BUENOS AIRES: Argentine President Mauricio Mac...,World,2
6018,Walk into any emergency room in the U.S. and y...,World,2
6019,A growing number of Americans treated at hospi...,World,2
6020,LONDON: US National Security Advisor John Bolt...,World,2
6021,LONDON: British warship HMS Kent set sail for ...,World,2
6022,"CENTERVILLE, Massachusetts: A private funeral ...",World,2
6023,"EL PASO, Texas: US-based Latinos voiced their ...",World,2
6024,MELBOURNE: Unwanted facial and body hair can a...,World,2
6025,"In extreme heat, electric fans may offer some ...",World,2
6026,NEW YORK: A supporter of President Donald Trum...,World,2
6027,American families with military health insuran...,World,2
6028,BEIJING: Chinese companies have stopped buying...,World,2
6029,WASHINGTON: President Donald Trump on Monday (...,World,2
6030,WASHINGTON: Walmart Inc said on Monday (Aug 5)...,World,2
6031,Older women who are under a lot of social stra...,World,2
6032,SYDNEY: The United States no longer has milita...,World,2
6033,KUALA LUMPUR: Malaysian Prime Minister Mahathi...,World,2
6034,"SOPRON, Hungary: German Chancellor Angela Merk...",World,2
6035,VENICE: The star-studded Venice film festival ...,World,2
6036,"MONTANA ALTA, Spain: A wildfire raged out of c...",World,2
6037,TOKYO: Japan's politically sensitive trade sur...,World,2
6038,WASHINGTON: You may have seen it among your ow...,World,2
6039,OTTAWA: China's embassy in Ottawa warned Canad...,World,2
6040,AUCKLAND: What did we do before smartphones? O...,World,2
6041,WASHINGTON: US President Donald Trump on Sunda...,World,2

In [8]:
#Training Features
training_features_path = "./Pickles/training_features.pickle"
with open(training_features_path, 'rb') as data:
    training_features = pickle.load(data)
    
#Training Labels
training_labels_path = "./Pickles/training_labels.pickle"
with open(training_labels_path, 'rb') as data:
    training_labels = pickle.load(data)
    
#Test Features
test_features_path = "./Pickles/test_features.pickle"
with open(test_features_path, 'rb') as data:
    test_features = pickle.load(data)
    
#Test Labels
test_labels_path = "./Pickles/test_labels.pickle"
with open(test_labels_path, 'rb') as data:
    test_labels = pickle.load(data)

In [10]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(articles, articles['article'])

ValueError: could not convert string to float: "SINGAPORE - A man's body was found on the ground floor rubbish chute area at Block 677 Woodlands Avenue 6 on Monday afternoon (Aug 12).\n\nThe police said they were alerted to a case of unnatural death at 12.05pm.\n\nA 64-year-old man was found motionless and was pronounced dead by paramedics at the scene, the police said.\n\nPhotographer Vivian Low said she noticed the cordoned area when she walked past the block.\n\nMs Low, 29, added that she heard the housing estate's cleaning crew found the man when they opened the door in the morning.\n\nThe police are investigating the incident."

In [ ]:
with open('Models/decisionTree_best_model.pickle', 'wb') as output:
    pickle.dump(best_lrc, output)
    
with open('Models/decisionTree_best_model_details.pickle', 'wb') as output:
    pickle.dump(df_models_lrc, output)