In [1]:
import pickle
import os
import numpy as np
import sklearn.metrics as metrics
import matplotlib.pyplot as plt

from tensorflow.keras.callbacks import ModelCheckpoint,CSVLogger
from tensorflow.keras.layers import Activation, Conv1D, Dense, Embedding, Flatten, Input, MaxPooling1D,LSTM,Dropout,SpatialDropout1D
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.metrics import categorical_accuracy
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.preprocessing import sequence
from keras.optimizers import RMSprop

Using TensorFlow backend.

In [2]:
#Processed Data Frame [ Do Not Use this, Use the Training, Tesing and Validation Data Sets Instead]
data_path = "./Pickles/all_articles_processed.pickle"
with open(data_path, 'rb') as data:
    all_articles = pickle.load(data)
    
#TD-IDF Features    
#Training Features
training_features_path = "./Pickles/tdidf_training_features.pickle"
with open(training_features_path, 'rb') as data:
    tdidf_training_features = pickle.load(data)
    
#Training Labels
training_labels_path = "./Pickles/tdidf_training_labels.pickle"
with open(training_labels_path, 'rb') as data:
    tdidf_training_labels = pickle.load(data)
    
#Test Features
test_features_path = "./Pickles/tdidf_test_features.pickle"
with open(test_features_path, 'rb') as data:
    tdidf_test_features = pickle.load(data)
    
#Test Labels
test_labels_path = "./Pickles/tdidf_test_labels.pickle"
with open(test_labels_path, 'rb') as data:
    tdidf_test_labels = pickle.load(data)
    
#Validation Features
test_features_path = "./Pickles/tdidf_validation_features.pickle"
with open(test_features_path, 'rb') as data:
    tdidf_validation_features = pickle.load(data)
    
#Validation Labels
test_labels_path = "./Pickles/tdidf_validation_labels.pickle"
with open(test_labels_path, 'rb') as data:
    tdidf_validation_labels = pickle.load(data)
    
    
#Sequence Vector Features    
#Training Features
training_features_path = "./Pickles/sv_training_features.pickle"
with open(training_features_path, 'rb') as data:
    sv_training_features = pickle.load(data)
    
#Training Labels
training_labels_path = "./Pickles/sv_training_labels.pickle"
with open(training_labels_path, 'rb') as data:
    sv_training_labels = pickle.load(data)
    
#Test Features
test_features_path = "./Pickles/sv_test_features.pickle"
with open(test_features_path, 'rb') as data:
    sv_test_features = pickle.load(data)
    
#Test Labels
test_labels_path = "./Pickles/sv_test_labels.pickle"
with open(test_labels_path, 'rb') as data:
    sv_test_labels = pickle.load(data)
    
#Validation Features
test_features_path = "./Pickles/sv_validation_features.pickle"
with open(test_features_path, 'rb') as data:
    sv_validation_features = pickle.load(data)
    
#Validation Labels
test_labels_path = "./Pickles/sv_validation_labels.pickle"
with open(test_labels_path, 'rb') as data:
    sv_validation_labels = pickle.load(data)

In [3]:
all_articles

,source,title,article,category,length_characters,length_words,category_code
0,AsiaOne,7 factors to consider when looking for an HDB ...,whether youre buy hdb resale flat firsttimer l...,Lifestyle,9771,1769,3
1,The Straits Times,Jung Joon-young first to be charged in K-pop s...,seoul first arrest kpop scandal singer jung ...,Lifestyle,2162,324,3
2,The Straits Times,Music mogul Dr Dre gets flak over boast that h...,los angeles look talk lack class netizens im...,Lifestyle,1108,182,3
3,Channel News Asia,NaN,think colonel sanders quirky enough apparentl...,Lifestyle,1193,207,3
4,Channel News Asia,NaN,mexican government question louis vuittons use...,Lifestyle,1484,231,3
5,Channel News Asia,NaN,style superstar virgil abloh produce one big m...,Lifestyle,3572,588,3
6,The Straits Times,Jerry Yan brightens up for actress Chen Mei-fe...,taiwanese actor jerry yan look downcast appea...,Lifestyle,1275,212,3
7,The Straits Times,Andy Hui scandal: Hong Kongers worry about the...,hong kong taxi driver break law sell minute ...,Lifestyle,2917,469,3
8,The Straits Times,Angel Has Fallen tops North America box office...,new york ap angel fall easily top box office...,Lifestyle,1380,232,3
9,The New Paper,Jackson unleashes fury over Nick Fury eye patc...,los angeles samuel l jackson unleash fury er...,Lifestyle,1227,198,3
10,The Straits Times,Book review: Women are more than muses in Tayl...,time american author taylor jenkins reid inad...,Lifestyle,4731,848,3
11,The Straits Times,Hong Kong actress Tracy Ip sacks two maids aft...,hong kong actress tracy ip call police get he...,Lifestyle,1589,288,3
12,The Straits Times,Min Jiang at one-north relocates to Dempsey Hill,singapore years rochester park chinese rest...,Lifestyle,2923,473,3
13,AsiaOne,Shanghai Disney visitors to be allowed to brin...,shanghai disney resort soon allow visitors bri...,Lifestyle,2360,363,3
14,The Straits Times,"Something wicked this way comes: Disturbing, b...",singapore live disturb time new contemporary...,Lifestyle,5418,871,3
15,The Straits Times,"Jacqueline Wong makes comeback, Kenneth Ma tap...",jacqueline wong kenneth reconcile since catch...,Lifestyle,3088,528,3
16,The Straits Times,Scandal-hit Roy Kim allowed to go to US to att...,seoul roy kims agency douse speculation ball...,Lifestyle,999,166,3
17,Channel News Asia,NaN,avengers fan get enjoy double dose marvel good...,Lifestyle,1605,276,3
18,Channel News Asia,NaN,announce divorce proceed last thursday jun ko...,Lifestyle,1682,274,3
19,The Straits Times,Katy Perry and record label hit with $3.7 mill...,los angeles reuters christian rapper award u...,Lifestyle,1922,332,3
20,The Straits Times,Mini-skirt pioneer Mary Quant gets maximum exp...,london afp londons victoria albert museum pu...,Lifestyle,1682,271,3
21,The Straits Times,Kim Kardashian studying to be a lawyer in appr...,los angeles reuters reality star kim kardash...,Lifestyle,1917,335,3
22,AsiaOne,Crazy Rich Asian weddings: What it's like to p...,say word bridezilla wed planners run opposite ...,Lifestyle,6912,1098,3
23,The Straits Times,Singer Sam Smith embraces gender neutral prono...,new york reuters british singer sam smith fr...,Lifestyle,3968,689,3
24,The Straits Times,Sold for US$91.1 million: Jeff Koons rabbit sc...,new york nytimes shiny stainless steel sculp...,Lifestyle,1593,253,3
25,The Straits Times,'Men who looked like gangsters threatened my m...,seoul current kpop scandal force four artist...,Lifestyle,2269,357,3
26,The New Paper,Fans feel the love for The Lion King: The Gift...,new york bey hive feel love friday beyonces r...,Lifestyle,3270,546,3
27,The Straits Times,Love Me Tender: Actor Austin Butler chosen to ...,news make fan shake director baz luhrmann pos...,Lifestyle,1157,196,3
28,Channel News Asia,NaN,union jack emblazon stabproof vest wear britis...,Lifestyle,1337,208,3
29,The Straits Times,"Style News: GSS Friday deals, Sephora's person...",last chance shop friday sales gss years gss e...,Lifestyle,3758,607,3
...,...,...,...,...,...,...,...
7170,Channel News Asia,NaN,reuters leicester city wolverhampton wanderer...,Sports,1537,256,2
7171,Channel News Asia,NaN,london englands manchester unite midfielder je...,Sports,865,145,2
7172,Channel News Asia,NaN,reuters west indies batsman darren bravo retir...,Sports,1117,199,2
7173,Channel News Asia,NaN,reuters aston villa forward jonathan kodjia le...,Sports,917,148,2
7174,The New Paper,Nervous Naomi Osaka survives early scare,naomi osaka give test workout anna blinkova b...,Sports,1323,226,2
7175,Channel News Asia,NaN,monza italy south african jody scheckter take ...,Sports,1935,339,2
7176,Channel News Asia,NaN,reuters wales midfielder aaron ramsey withdraw...,Sports,945,157,2
7177,The New Paper,"Gareth Bale scores two for Real Madrid, then s...",gareth bale score twice save real madrid dama...,Sports,3053,514,2
7178,The New Paper,Blockbuster clashes galore in ONE: Century event,one championships upcoming one century event ...,Sports,1752,272,2
7179,The Straits Times,Nadal saves self for slam,montreal rafael nadal would love add another...,Sports,3176,573,2
7180,Channel News Asia,NaN,manchester australia head fourth test old traf...,Sports,2688,458,2
7181,Channel News Asia,NaN,reuters chelsea midfielder ngolo kante recover...,Sports,1396,219,2
7182,Channel News Asia,NaN,kumagaya japan south africa head final rugby w...,Sports,1471,267,2
7183,Channel News Asia,NaN,tokyo still four grand slam events contest med...,Sports,2353,409,2
7184,Channel News Asia,NaN,shenzhen zhang weili thrill chinese home crowd...,Sports,2002,347,2
7185,Channel News Asia,NaN,new york us open final saturday feel street fi...,Sports,2199,383,2
7186,The New Paper,Teen champion Bianca Andreescu goes from miser...,year ago bianca andreescu nurse injury home c...,Sports,3150,548,2
7187,Channel News Asia,NaN,reuters twitter say take action case abuse ha...,Sports,825,137,2
7188,Channel News Asia,NaN,dublin mick mccarthy sight set euro david mcg...,Sports,2476,410,2
7189,The New Paper,Kyra Poh gets her Indoor Skydiving hat-trick,singapores kyra poh emerge champion solo free...,Sports,1671,269,2
7190,The New Paper,Seven charged over spate of burglaries in PSG ...,seven people suspect organise take part burgl...,Sports,2087,327,2
7191,Channel News Asia,NaN,sao paulo police sao paulo say tuesday sep br...,Sports,1176,187,2
7192,Channel News Asia,NaN,reuters highlight second day us open final gra...,Sports,988,162,2
7193,Channel News Asia,NaN,kumagaya japan springbok coach rassie erasmus ...,Sports,1341,238,2
7194,Channel News Asia,NaN,new york rampage serena williams move brink re...,Sports,2912,502,2
7195,Channel News Asia,NaN,marcoussis france french president emmanuel ma...,Sports,500,84,2
7196,Channel News Asia,NaN,paris spain take step closer qualification eur...,Sports,3377,598,2
7197,Channel News Asia,NaN,sydney australian cricket journalist britain a...,Sports,1587,272,2
7198,Channel News Asia,NaN,london team ineos boss dave brailsford man mas...,Sports,1592,276,2
7199,The Straits Times,Tennis: Venus Williams upsets defending champ ...,mason ohio ap venus williams reach third rou...,Sports,1379,230,2

In [4]:
df=all_articles[['article','category']]
df.head()

                                             article   category
0  whether youre buy hdb resale flat firsttimer l...  Lifestyle
1   seoul  first arrest kpop scandal singer jung ...  Lifestyle
2   los angeles  look talk lack class netizens im...  Lifestyle
3  think colonel sanders  quirky enough apparentl...  Lifestyle
4  mexican government question louis vuittons use...  Lifestyle

In [5]:
df['category'].value_counts()

Business      1200
Technology    1200
World         1200
Singapore     1200
Lifestyle     1200
Sports        1200
Name: category, dtype: int64

In [6]:
X = df.article
Y = df.category
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15, random_state=1)

In [8]:
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(6120,) (6120, 1)
(1080,) (1080, 1)

In [9]:
max_words = 50000
max_len = 250

# The maximum number of words to be used. (most frequent)
MAX_NB_WORDS = 50000
# Max number of words in each complaint.
MAX_SEQUENCE_LENGTH = 500
# This is fixed.
EMBEDDING_DIM = 100

tok = Tokenizer(num_words=MAX_NB_WORDS)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [10]:
tokenizer = Tokenizer(num_words=MAX_NB_WORDS, filters='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~', lower=True)
word_index = tok.word_index
print('Found %s unique tokens.' % len(word_index))

Found 65584 unique tokens.

In [11]:
X = tokenizer.texts_to_sequences(X.values)
X = pad_sequences(X, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', X.shape)

Shape of data tensor: (7200, 500)

In [12]:
print('Shape of data tensor:', Y.shape)

Shape of data tensor: (7200, 1)

In [13]:
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,EMBEDDING_DIM,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [14]:
def RNN():
    model = Sequential()
    model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=max_len))
    model.add(SpatialDropout1D(0.2))
    model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
    model.add(Dense(1, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [15]:
def RNN():
    model = Sequential()
    model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=max_len))
    model.add(SpatialDropout1D(0.7))
    model.add(LSTM(64, dropout=0.7, recurrent_dropout=0.7))
    model.add(Dense(1, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [16]:
model = RNN()
model.summary()
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

WARNING: Logging before flag parsing goes to stderr.
W0917 20:25:52.664946  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
W0917 20:25:52.706833  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
W0917 20:25:52.718803  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
W0917 20:25:52.730770  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
W0917 20:25:52.742715  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
W0917 20:25:52.756676  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 250, 100)          5000000
_________________________________________________________________
spatial_dropout1d (SpatialDr (None, 250, 100)          0
_________________________________________________________________
lstm (LSTM)                  (None, 64)                42240
_________________________________________________________________
dense (Dense)                (None, 1)                 65
=================================================================
Total params: 5,042,305
Trainable params: 5,042,305
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss',min_delta=0.0001)])

W0917 20:25:52.977647  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.

Train on 4896 samples, validate on 1224 samples
Epoch 1/10

W0917 20:25:53.213577  7656 deprecation.py:323] From C:\Users\darry\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\ops\math_grad.py:1394: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0917 20:25:53.773908  7656 nn_ops.py:4283] Large dropout rate: 0.7 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.

4896/4896 [==============================] - 16s 3ms/sample - loss: -22.9404 - accuracy: 0.1673 - val_loss: -23.0249 - val_accuracy: 0.1683
Epoch 2/10
4896/4896 [==============================] - 15s 3ms/sample - loss: -22.9404 - accuracy: 0.1673 - val_loss: -23.0249 - val_accuracy: 0.1683